<div infiniteScroll [infiniteScrollDisabled]="nativeMode" [alwaysCallback]="true" [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

<ng-container *ngFor="let tx of displayRows; let i = index; trackBy: trackByDisplayRow">
  <div *ngIf="!transactionPage" class="header-bg box tx-page-container" [attr.id]="tx.nativePendingMessage?.normalizedHash || null">
    <a *ngIf="displayHash(tx); else activityTitle" class="tx-link" [routerLink]="displayLink(tx)" [fragment]="tx.nativePendingMessage?.normalizedHash || null">
      <app-truncate [text]="displayHash(tx)"></app-truncate>
    </a>
    <ng-template #activityTitle><span class="tx-link">Activity</span></ng-template>
    <div>
      <app-timestamp *ngIf="displayTime(tx)" [customFormat]="'yyyy-MM-dd HH:mm:ss'" [unixTime]="displayTime(tx)" [hideTimeSince]="true"></app-timestamp>
      <ng-container *ngIf="!nativeMode && !tx.status.confirmed && tx.firstSeen"><i><app-time kind="since" [time]="tx.firstSeen" [fastRender]="true" [showTooltip]="true"></app-time></i></ng-container>
    </div>
  </div>

  <div class="header-bg box" [class.native-transaction]="nativeMode" [class.native-event]="!!tx.nativeEvent" [attr.data-cy]="'tx-' + i">

    <div *ngIf="!nativeMode && errorUnblinded" class="error-unblinded">{{ errorUnblinded }}</div>
    @if (!nativeMode && similarityMatches.get(tx.txid)?.size) {
      <div class="alert alert-mempool" role="alert">
        <span i18n="transaction.poison.warning">Warning! This transaction involves deceptively similar addresses. It may be an address poisoning attack.</span>
      </div>
    }
    <div class="row">
      <div class="col">
        <table class="table table-fixed table-borderless smaller-text table-sm table-tx-vin">
          <tbody>
            <ng-container *ngIf="!nativeMode; else suppliedLeft">
            <ng-template ngFor let-vin let-vindex="index" [ngForOf]="tx.vin.slice(0, getVinLimit(tx))" [ngForTrackBy]="trackByIndexFn">
              <tr [ngClass]="{
                'assetBox': (assetsMinimal && vin.prevout && assetsMinimal[vin.prevout.asset] && !vin.is_coinbase && vin.prevout.scriptpubkey_address && tx._unblinded) || inputIndex === vindex,
                'highlight': this.addresses.length && ((vin.prevout?.scriptpubkey_type !== 'p2pk' && addresses.includes(vin.prevout?.scriptpubkey_address)) || this.addresses.includes(vin.prevout?.scriptpubkey.slice(2, -2))),
                'sigged': selectedSig && selectedSig.txIndex === i && sigHighlights.vin[vindex],
              }">
                <td class="arrow-td">
                  <ng-template [ngIf]="vin.prevout === null && !vin.is_pegin" [ngIfElse]="hasPrevout">
                    <span class="grey">
                      <fa-icon [icon]="['fas', 'arrow-alt-circle-right']" [fixedWidth]="true"></fa-icon>
                    </span>
                  </ng-template>
                  <ng-template #hasPrevout>
                    <ng-template [ngIf]="vin.is_pegin" [ngIfElse]="defaultPrevout">
                      <a target="_blank" *ngIf="stateService.env.BASE_MODULE === 'liquid'; else localPegInLink" [attr.href]="'https://mempool.space/tx/' + vin.txid + ':' + vin.vout" class="red">
                        <fa-icon [icon]="['fas', 'arrow-alt-circle-right']" [fixedWidth]="true"></fa-icon>
                      </a>
                      <ng-template #localPegInLink>
                        <a [routerLink]="['/tx/', vin.txid]" class="red">
                          <fa-icon [icon]="['fas', 'arrow-alt-circle-right']" [fixedWidth]="true"></fa-icon>
                        </a>
                      </ng-template>
                    </ng-template>
                    <ng-template #defaultPrevout>
                      <a [routerLink]="['/tx/' | relativeUrl, vin.txid]" [fragment]="'vout=' + vin.vout" class="red">
                        <fa-icon [icon]="['fas', 'arrow-alt-circle-right']" [fixedWidth]="true"></fa-icon>
                      </a>
                    </ng-template>
                  </ng-template>
                </td>
                @if (tx['_showSignatures']) {
                  <td class="sig-td">
                    <div class="sig-stack">
                      @if (!tx['_sigs']?.[vindex]?.length) {
                        <span class="sig sig-key sig-no-lock" ngbTooltip="unsigned">
                          <fa-icon [icon]="['fas', 'lock-open']" [fixedWidth]="true"></fa-icon>
                        </span>
                      } @else {
                        @for (sig of tx['_sigs'][vindex].slice(0, 7); track sig.signature; let idx = $index) {
                          @if (idx < 7) {
                            <span
                              class="sig sig-key sighash-{{sig.sighash}}"
                              (mouseenter)="showSigInfo(i, vindex, sig)"
                              (mouseleave)="hideSigInfo()"
                              [ngbTooltip]="sighashLabels[sig.sighash]"
                              [class.hovered]="selectedSig && selectedSig.txIndex === i && selectedSig.vindex === vindex && selectedSig.sig === sig"
                            >
                              <fa-icon [icon]="['fas', 'key']" [fixedWidth]="true"></fa-icon>
                            </span>
                          }
                        }
                        @if (tx['_sigs'][vindex].length > 7) {
                          <span class="sig sig-overflow">
                            +{{ tx['_sigs'][vindex].length - 7 }}
                          </span>
                        }
                      }
                    </div>
                  </td>
                }
                <td class="address-cell">
                  <div [ngSwitch]="true">
                    <ng-container *ngSwitchCase="vin.is_coinbase"><span i18n="transactions-list.coinbase">Coinbase</span><ng-template [ngIf]="network !== 'liquid' && network !== 'liquidtestnet'">&nbsp;<span i18n="transactions-list.newly-generated-coins">(Newly Generated Coins)</span></ng-template><br /><a placement="bottom" [ngbTooltip]="vin.scriptsig | hex2ascii"><span class="badge bg-secondary scriptmessage longer">{{ vin.scriptsig | hex2ascii }}</span></a></ng-container>
                    <ng-container *ngSwitchCase="vin.is_pegin">
                      <span i18n="transactions-list.peg-in">Peg-in</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="vin.prevout && vin.prevout.scriptpubkey_type === 'p2pk'">
                      <span>P2PK <a class="address p2pk-address" [routerLink]="['/address/' | relativeUrl, vin.prevout.scriptpubkey.slice(2, -2)]" title="{{ vin.prevout.scriptpubkey.slice(2, -2) }}">
                        <app-truncate [text]="vin.prevout.scriptpubkey.slice(2, -2)" [lastChars]="8"></app-truncate>
                      </a></span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <ng-template [ngIf]="!vin.prevout" [ngIfElse]="defaultAddress">
                        <span *ngIf="vin.lazy; else defaultNoPrevout" class="skeleton-loader"></span>
                        <ng-template #defaultNoPrevout>
                          <span>{{ vin.issuance ? 'Issuance' : 'UNKNOWN' }}</span>
                        </ng-template>
                      </ng-template>
                      <ng-template #defaultAddress>
                        <app-ethereum-identity
                          *ngIf="tx.ethereum?.from as sender; else defaultVinAddress"
                          [entity]="sender"
                          [compact]="true"
                          [link]="'/address/' + sender.address"
                        ></app-ethereum-identity>
                        <ng-template #defaultVinAddress>
                          <app-address-text
                            *ngIf="vin.prevout.scriptpubkey_address; else vinScriptPubkeyType"
                            [address]="vin.prevout.scriptpubkey_address"
                            [similarity]="similarityMatches.get(tx.txid)?.get(vin.prevout.scriptpubkey_address)"
                          ></app-address-text>
                        </ng-template>
                        <ng-template #vinScriptPubkeyType>
                          {{ vin.prevout.scriptpubkey_type?.toUpperCase() }}
                        </ng-template>
                        <div *ngIf="!tx.ethereum">
                          <app-address-labels  [vin]="vin" [channel]="tx._channels && tx._channels.inputs[vindex] ? tx._channels.inputs[vindex] : null"></app-address-labels>
                        </div>
                      </ng-template>
                    </ng-container>
                  </div>
                </td>
                <td class="text-end nowrap amount" [class]="{large: tx.largeInput}">
                  <button *ngIf="vin.isInscription" (click)="toggleOrdData(tx.txid, 'vin', vindex)" type="button" class="btn btn-sm badge badge-ord primary" style="margin-right: 10px;" i18n="transaction.inscription-tag">Inscription</button>
                  <ng-template [ngIf]="vin.prevout && vin.prevout.asset && vin.prevout.asset !== nativeAssetId" [ngIfElse]="defaultOutput">
                    <div *ngIf="assetsMinimal && assetsMinimal[vin.prevout.asset] else assetVinNotFound">
                      <ng-container *ngTemplateOutlet="assetBox; context:{ $implicit: vin.prevout }"></ng-container>
                    </div>
                    <ng-template #assetVinNotFound>
                      {{ vin.prevout.value }} <a [routerLink]="['/assets/asset/' | relativeUrl, vin.prevout.asset]">{{ vin.prevout.asset | slice : 0 : 7 }}</a>
                    </ng-template>
                  </ng-template>
                  <ng-template #defaultOutput>
                    <span *ngIf="vin.lazy" class="skeleton-loader"></span>
                    @if (vin.prevout?.scriptpubkey_type === 'ethereum-address') {
                      <span class="grey-info-text">From</span>
                    } @else {
                      <app-amount [blockConversion]="tx.price" *ngIf="vin.prevout" [satoshis]="vin.prevout.value"></app-amount>
                    }
                  </ng-template>
                </td>
              </tr>
              <tr *ngIf="showOrdData[tx.txid + '-vin-' + vindex]?.show" [ngClass]="{
                'assetBox': (assetsMinimal && vin.prevout && assetsMinimal[vin.prevout.asset] && !vin.is_coinbase && vin.prevout.scriptpubkey_address && tx._unblinded) || inputIndex === vindex,
                'highlight': addresses?.length && (addresses.includes(vin.prevout?.scriptpubkey_address) || (vin.prevout?.scriptpubkey_type === 'p2pk' && addresses.includes(vin.prevout?.scriptpubkey.slice(2, -2)))),
                'sigged': selectedSig && selectedSig.txIndex === i && sigHighlights.vin[vindex],
              }">
                <td></td>
                @if (tx['_showSignatures']) {
                  <td></td>
                }
                <td colspan="2">
                  <app-ord-data [inscriptions]="showOrdData[tx.txid + '-vin-' + vindex]['inscriptions']" [type]="'vin'"></app-ord-data>
                </td>
              </tr>
              <tr *ngIf="(showDetails$ | async) === true">
                <td [attr.colspan]="tx['_showSignatures'] ? 4 : 3" class="details-container" >
                  <table class="table table-striped table-fixed table-borderless details-table mb-3">
                    <tbody>
                      <ng-template [ngIf]="vin.scriptsig">
                        <tr>
                          <td i18n="transactions-list.scriptsig.asm|ScriptSig (ASM)">ScriptSig (ASM)</td>
                          <td style="text-align: left;">
                            <app-asm
                              [asm]="vin.scriptsig_asm"
                              [annotations]="{ signatures: tx['_sigmap'], selectedSig: selectedSig?.txIndex === i && selectedSig?.vindex === vindex ? selectedSig.sig : null, p2sh: vin.prevout?.scriptpubkey_type === 'p2sh' && !vin.witness }"
                              (showSigInfo)="showSigInfo(i, vindex, $event)"
                              (hideSigInfo)="hideSigInfo()"
                            ></app-asm>
                          </td>
                        </tr>
                        <tr>
                          <td i18n="transactions-list.scriptsig.hex|ScriptSig (HEX)">ScriptSig (HEX)</td>
                          <td style="text-align: left;">{{ vin.scriptsig }}</td>
                        </tr>
                      </ng-template>
                      <tr *ngIf="vin.witness" class="vin-witness">
                        <td i18n="transactions-list.witness">Witness</td>
                        <td style="text-align: left;">
                          <ng-container *ngFor="let witness of vin.witness; index as windex">
                            <p class="witness-item">
                              <ng-container *ngIf="tx['_sigmap']?.[witness] as sigInfo">
                                <span class="sig sig-key sig-inline sighash-{{sigInfo.sig.sighash}}"
                                      [class.hovered]="selectedSig && selectedSig.txIndex === i && selectedSig.vindex === vindex && selectedSig.sig === sigInfo.sig"
                                      (mouseenter)="showSigInfo(i, vindex, sigInfo.sig)" 
                                      (mouseleave)="hideSigInfo()" 
                                      [ngbTooltip]="sighashLabels[sigInfo.sig.sighash]">
                                  <fa-icon [icon]="['fas', 'key']" [fixedWidth]="true"></fa-icon>
                                </span>
                              </ng-container>
                              @if (windex === vin.taprootInfo?.controlBlockIndex) {
                                <span class="control-block" ngbTooltip="taproot control block" (click)="toggleTaprootControlBlock(vindex)">
                                  <fa-icon [icon]="['fas', 'code-fork']" [fixedWidth]="true" [rotate]="180"></fa-icon>
                                </span>
                                <ng-container *ngTemplateOutlet="taprootControlBlock; context: { $implicit: vin.taprootInfo?.scriptPath, controlBlock: witness, truncate: !showFullWitness[vindex][windex] }"></ng-container>
                              } @else if (windex === vin.taprootInfo?.scriptIndex || (windex === vin.witness.length - 1 && ['p2sh', 'v0_p2wsh'].includes(vin.prevout?.scriptpubkey_type) && vin.scriptsig.length !== 46)) {
                                <span class="script" ngbTooltip="script">
                                  <fa-icon [icon]="['fas', 'code']" [fixedWidth]="true"></fa-icon>
                                </span>
                              } @else if (windex === vin.taprootInfo?.annexIndex) {
                                <span class="annex" ngbTooltip="annex">
                                  <fa-icon [icon]="['fas', 'paperclip']" [fixedWidth]="true"></fa-icon>
                                </span>
                              }
                              @if (windex !== vin.taprootInfo?.controlBlockIndex) {
                                @if (witness.length > 1000) {
                                  @if (!showFullWitness[vindex][windex]) {
                                    {{ witness | slice:0:1000 }}
                                  } @else {
                                    {{ witness }}
                                  }
                                } @else if (witness) {
                                  <ng-container *ngIf="tx['_sigmap']?.[witness]?.sig.sighash !== 0 && tx['_sigmap']?.[witness] as sigInfo; else plainSig">
                                    <span class="witness">
                                      {{witness.slice(0, -2)}}<span class="sig sighash-{{sigInfo.sig.sighash}}" 
                                            [class.hovered]="selectedSig && selectedSig.txIndex === i && selectedSig.vindex === vindex && selectedSig.sig === sigInfo.sig"
                                            (mouseenter)="showSigInfo(i, vindex, sigInfo.sig)" 
                                            (mouseleave)="hideSigInfo()" 
                                            [ngbTooltip]="sighashLabels[sigInfo.sig.sighash]">{{witness.slice(-2)}}</span>
                                    </span>
                                  </ng-container>
                                  <ng-template #plainSig>
                                    {{ witness }}
                                  </ng-template>
                                } @else {
                                  &lt;empty&gt;
                                }
                              }
                            </p>
                            @if (witness.length > 1000) {
                              <div style="display: flex;">
                                @if (!showFullWitness[vindex][windex]) {
                                  <span>...</span>
                                }
                                <label class="btn btn-sm btn-primary mt-2" (click)="toggleShowFullWitness(vindex, windex)" style="margin-left: auto;">
                                  @if (!showFullWitness[vindex][windex]) {
                                    <span i18n="show-all">Show all</span>
                                  } @else {
                                    <span i18n="show-less">Show less</span>
                                  }
                                </label>
                              </div>
                            }
                          </ng-container>
                        </td>
                      </tr>
                      <tr *ngIf="vin.inner_redeemscript_asm">
                        <td i18n="transactions-list.p2sh-redeem-script">P2SH redeem script</td>
                        <td style="text-align: left;" [innerHTML]="vin.inner_redeemscript_asm | asmStyler"></td>
                      </tr>
                      @if (vin.taprootInfo?.scriptPath && showTaprootControlBlock[vindex]) {
                        <tr>
                          <td i18n="transactions-list.p2tr-control-block">P2TR control block</td>
                          <td style="text-align: left; padding: 0px;">
                            <ng-container *ngTemplateOutlet="controlBlockInfo; context: { $implicit: vin.taprootInfo?.scriptPath }"></ng-container>
                          </td>
                        </tr>
                      }
                      <tr *ngIf="vin.inner_witnessscript_asm">
                        @if (isLiquid && vin.inner_simplicityscript) {
                          <td i18n="transactions-list.p2tr-simplicity-script">P2TR Simplicity script</td>
                          <td style="text-align: left;">
                            <div [innerHTML]="showFullScript[vindex] ? vin.inner_simplicityscript : vin.inner_simplicityscript.slice(0, 1000)"></div>
                            <div *ngIf="vin.inner_simplicityscript.length > 1000" style="display: flex;">
                              <span *ngIf="!showFullScript[vindex]">...</span>
                              <label class="btn btn-sm btn-primary mt-2" (click)="toggleShowFullScript(vindex)" style="margin-left: auto;">
                                <span *ngIf="!showFullScript[vindex]" i18n="show-all">Show all</span>
                                <span *ngIf="showFullScript[vindex]" i18n="show-less">Show less</span>
                              </label>
                            </div>
                          </td>
                        } @else {
                          <td *ngIf="vin.prevout && vin.prevout.scriptpubkey_type == 'v1_p2tr'; else p2wsh" i18n="transactions-list.p2tr-tapscript">P2TR tapscript</td>
                          <ng-template #p2wsh>
                            <td i18n="transactions-list.p2wsh-witness-script">P2WSH witness script</td>
                          </ng-template>
                          <td style="text-align: left;">
                            <div [innerHTML]="vin.inner_witnessscript_asm | asmStyler: (showFullScript[vindex] ? 0 : 1000)"></div>
                            <div *ngIf="vin.inner_witnessscript_asm.length > 1000" style="display: flex;">
                              <span *ngIf="!showFullScript[vindex]">...</span>
                              <label class="btn btn-sm btn-primary mt-2" (click)="toggleShowFullScript(vindex)" style="margin-left: auto;">
                                <span *ngIf="!showFullScript[vindex]" i18n="show-all">Show all</span>
                                <span *ngIf="showFullScript[vindex]" i18n="show-less">Show less</span>
                              </label>
                            </div>
                          </td>
                        }
                      </tr>
                      <tr>
                        <td i18n="transactions-list.nsequence">nSequence</td>
                        <td style="text-align: left;">{{ formatHex(vin.sequence) }}</td>
                      </tr>
                      <ng-template [ngIf]="vin.prevout">
                        <tr>
                          <td i18n="transactions-list.previous-output-script">Previous output script</td>
                          <td style="text-align: left;" [innerHTML]="vin.prevout.scriptpubkey_asm | asmStyler"></td>
                        </tr>
                        <tr>
                          <td i18n="transactions-list.previous-output-type">Previous output type</td>
                          <td style="text-align: left;">{{ vin.prevout.scriptpubkey_type?.toUpperCase() }}</td>
                        </tr>
                    </ng-template>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-template>
            <tr *ngIf="tx.vin.length > getVinLimit(tx)">
              <td [attr.colspan]="tx['_showSignatures'] ? 4 : 3" class="text-center">
                <button class="btn btn-sm btn-primary mt-2" (click)="showMoreInputs(tx)">
                  <span *ngIf="getVinLimit(tx, true) >= tx.vin.length; else showMoreInputsLabel" i18n="show-all">Show all</span>
                  <ng-template #showMoreInputsLabel>
                    <span i18n="show-more">Show more</span>
                  </ng-template>
                  (<ng-container *ngTemplateOutlet="xRemaining; context: {$implicit: tx.vin.length - getVinLimit(tx)}"></ng-container>)
                </button>
              </td>
            </tr>
            </ng-container>
            <ng-template #suppliedLeft><ng-container *ngTemplateOutlet="nativeLeft; context: {$implicit: tx}"></ng-container></ng-template>
          </tbody>
        </table>
      </div>
      <div class="w-100 d-block d-md-none"></div>
      <div class="col mobile-bottomcol" *ngIf="!tx.nativeEvent && !tx.nativePendingMessage">
        <table class="table table-fixed table-borderless smaller-text table-sm table-tx-vout">
          <tbody>
            <ng-container *ngIf="!nativeMode; else suppliedRight">
            <ng-template ngFor let-vout let-vindex="index" [ngForOf]="tx.vout.slice(0, getVoutLimit(tx))" [ngForTrackBy]="trackByIndexFn">
              <tr [ngClass]="{
                'assetBox': assetsMinimal && assetsMinimal[vout.asset] && vout.scriptpubkey_address && tx.vin && !tx.vin[0].is_coinbase && tx._unblinded || outputIndex === vindex,
                'highlight': this.addresses.length && ((vout.scriptpubkey_type !== 'p2pk' && addresses.includes(vout.scriptpubkey_address)) || this.addresses.includes(vout.scriptpubkey.slice(2, -2))),
                'sigged': selectedSig && selectedSig.txIndex === i && sigHighlights.vout[vindex],
              }">
                <td class="address-cell">
                  <app-ethereum-identity
                    *ngIf="tx.ethereum?.to as recipient; else defaultVoutAddress"
                    [entity]="recipient"
                    [compact]="true"
                    [link]="'/address/' + recipient.address"
                  ></app-ethereum-identity>
                  <ng-template #defaultVoutAddress>
                    <app-address-text
                      *ngIf="vout.scriptpubkey_address; else pubkey_type"
                      [address]="vout.scriptpubkey_address"
                      [similarity]="similarityMatches.get(tx.txid)?.get(vout.scriptpubkey_address)"
                    ></app-address-text>
                  </ng-template>
                  <ng-template #pubkey_type>
                    <ng-container *ngIf="vout.scriptpubkey_type === 'p2pk'; else scriptpubkey_type">
                      P2PK <a class="address p2pk-address" [routerLink]="['/address/' | relativeUrl, vout.scriptpubkey.slice(2, -2)]" title="{{ vout.scriptpubkey.slice(2, -2) }}">
                        <app-truncate [text]="vout.scriptpubkey.slice(2, -2)" [lastChars]="8"></app-truncate>
                      </a>
                    </ng-container>
                  </ng-template>
                  <div *ngIf="!tx.ethereum">
                    <app-address-labels [vout]="vout" [channel]="tx._channels && tx._channels.outputs[vindex] ? tx._channels.outputs[vindex] : null"></app-address-labels>
                  </div>
                  <ng-template #scriptpubkey_type>
                    <ng-template [ngIf]="vout.pegout" [ngIfElse]="defaultscriptpubkey_type">
                      <ng-container i18n="transactions-list.peg-out-to">Peg-out to <ng-container *ngTemplateOutlet="pegOutLink"></ng-container></ng-container>
                      <ng-template #pegOutLink>
                        <a *ngIf="stateService.env.BASE_MODULE === 'liquid'; else localPegoutLink" target="_blank" style="color:var(--orange)" [attr.href]="'https://mempool.space/address/' + vout.pegout.scriptpubkey_address" title="{{ vout.pegout.scriptpubkey_address }}">
                          <app-truncate [text]="vout.pegout.scriptpubkey_address"></app-truncate>
                        </a>
                        <ng-template #localPegoutLink>
                          <a [routerLink]="['/address/', vout.pegout.scriptpubkey_address]" title="{{ vout.pegout.scriptpubkey_address }}">
                            <app-truncate [text]="vout.pegout.scriptpubkey_address"></app-truncate>
                          </a>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                    <ng-template #defaultscriptpubkey_type>
                      <ng-template [ngIf]="vout.scriptpubkey_type === 'op_return'" [ngIfElse]="otherPubkeyType">
                        OP_RETURN&nbsp;
                        @if (vout.isRunestone) {
                          <button (click)="toggleOrdData(tx.txid, 'vout', vindex)" type="button" class="btn btn-sm badge badge-ord">Runestone</button>
                        } @else {
                          <a placement="bottom" style="cursor: pointer;">
                            @if ((vout.scriptpubkey_asm | hex2ascii).length > 200) {
                              <span *ngIf="vout.scriptpubkey_asm !== 'OP_RETURN'" class="badge bg-secondary scriptmessage opreturn-msg" (click)="toggleShowFullOpReturnPreview(vindex)">{{ vout.scriptpubkey_asm | hex2ascii | slice:0:200 }}</span>
                              <ng-container *ngIf="(showDetails$ | async) === false">
                                @if ((vout.scriptpubkey_asm | hex2ascii).length > 200) {
                                  @if (!showFullOpReturnPreview[vindex]) {
                                    <span class="badge bg-primary" (click)="toggleShowFullOpReturnPreview(vindex)">Show more</span>
                                  } @else {
                                    <span class="badge bg-primary" (click)="toggleShowFullOpReturnPreview(vindex)">Show less</span>
                                  }
                                }
                              </ng-container>
                            } @else {
                              <span *ngIf="vout.scriptpubkey_asm !== 'OP_RETURN'" [ngbTooltip]="vout.scriptpubkey_asm | hex2ascii" class="badge bg-secondary scriptmessage">{{ vout.scriptpubkey_asm | hex2ascii }}</span>
                            }
                          </a>
                        }
                      </ng-template>
                      <ng-template #otherPubkeyType>{{ vout.scriptpubkey_type | scriptpubkeyType }}</ng-template>
                    </ng-template>
                  </ng-template>
                </td>
                <td class="text-end nowrap amount" [class]="{large: tx.largeOutput}">
                  <ng-template [ngIf]="vout.asset && vout.asset !== nativeAssetId" [ngIfElse]="defaultOutput">
                    <div *ngIf="assetsMinimal && assetsMinimal[vout.asset] else assetNotFound">
                      <ng-container *ngTemplateOutlet="assetBox; context:{ $implicit: vout }"></ng-container>
                    </div>
                    <ng-template #assetNotFound>
                      {{ vout.value }} <a [routerLink]="['/assets/asset/' | relativeUrl, vout.asset]">{{ vout.asset | slice : 0 : 7 }}</a>
                    </ng-template>
                  </ng-template>
                  <ng-template #defaultOutput>
                    <ng-container *ngIf="tx.ethereum?.tokenTransfers?.[0] as transfer; else nativeAmount">
                      <span class="ethereum-list-token-amount" [title]="ethereumTransferTitle(transfer)">
                        {{ ethereumTransferLabel(transfer) }}
                      </span>
                      <span *ngIf="tx.ethereum.tokenTransfers.length > 1" class="ethereum-list-token-extra">
                        +{{ tx.ethereum.tokenTransfers.length - 1 }} {{ tx.ethereum.tokenTransfers.length === 2 ? 'transfer' : 'transfers' }}
                      </span>
                    </ng-container>
                    <ng-template #nativeAmount>
                      <ng-container *ngIf="ethereumListSummary(tx) as activity; else nativeEthAmount">
                        <span class="ethereum-list-activity">{{ activity }}</span>
                      </ng-container>
                      <ng-template #nativeEthAmount>
                        <app-amount [blockConversion]="tx.price" [satoshis]="vout.value"></app-amount>
                      </ng-template>
                    </ng-template>
                  </ng-template>
                </td>
                <td class="arrow-td">
                  <span *ngIf="!tx._outspends || vout.scriptpubkey_type === 'op_return' || vout.scriptpubkey_type === 'fee' ; else outspend" class="grey">
                    <fa-icon [icon]="['fas', 'arrow-alt-circle-right']" [fixedWidth]="true"></fa-icon>
                  </span>
                  <ng-template #outspend>
                    <span *ngIf="!tx._outspends[vindex] || !tx._outspends[vindex].spent; else spent" class="green">
                      <fa-icon [icon]="['fas', 'arrow-alt-circle-right']" [fixedWidth]="true"></fa-icon>
                    </span>
                    <ng-template #spent>
                      <a *ngIf="tx._outspends[vindex].txid else outputNoTxId" [routerLink]="['/tx/' | relativeUrl, tx._outspends[vindex].txid]"  [fragment]="'vin=' + tx._outspends[vindex].vin" class="red">
                        <fa-icon [icon]="['fas', 'arrow-alt-circle-right']" [fixedWidth]="true"></fa-icon>
                      </a>
                      <ng-template #outputNoTxId>
                        <span class="red">
                          <fa-icon [icon]="['fas', 'arrow-alt-circle-right']" [fixedWidth]="true"></fa-icon>
                        </span>
                      </ng-template>
                    </ng-template>
                  </ng-template>
                </td>
              </tr>

              <tr *ngIf="showOrdData[tx.txid + '-vout-' + vindex]?.show" [ngClass]="{
                'assetBox': assetsMinimal && assetsMinimal[vout.asset] && vout.scriptpubkey_address && tx.vin && !tx.vin[0].is_coinbase && tx._unblinded || outputIndex === vindex,
                'highlight': addresses?.length && (addresses.includes(vout.scriptpubkey_address) || (vout.scriptpubkey_type === 'p2pk' && addresses.includes(vout.scriptpubkey.slice(2, -2)))),
                'sigged': selectedSig && selectedSig.txIndex === i && sigHighlights.vout[vindex],
              }">
                <td colspan="3">
                    <app-ord-data [runestone]="showOrdData[tx.txid + '-vout-' + vindex]['runestone']" [runeInfo]="showOrdData[tx.txid + '-vout-' + vindex]['runeInfo']" [type]="'vout'"></app-ord-data>
                </td>
              </tr>
              <tr *ngIf="vout.scriptpubkey_type === 'op_return' && showFullOpReturnPreview[vindex]" [ngClass]="{
                'assetBox': assetsMinimal && assetsMinimal[vout.asset] && vout.scriptpubkey_address && tx.vin && !tx.vin[0].is_coinbase && tx._unblinded || outputIndex === vindex,
                'highlight': addresses?.length && (addresses.includes(vout.scriptpubkey_address)),
                'sigged': selectedSig && selectedSig.txIndex === i && sigHighlights.vout[vindex],
              }">
                <td colspan="3" style="white-space: pre-line;">
                  {{ vout.scriptpubkey_asm | hex2ascii | slice:0:8000 }}
                </td>
              </tr>
              <tr *ngIf="(showDetails$ | async) === true">
                <td [attr.colspan]="3" class="details-container">
                  <table class="table table-striped table-borderless details-table mb-3">
                    <tbody>
                      <tr>
                        <td i18n="transactions-list.scriptpubkey.asm|ScriptPubKey (ASM)">ScriptPubKey (ASM)</td>
                        <td style="text-align: left;">
                          <app-asm [asm]="vout.scriptpubkey_asm" [crop]="showFullScriptPubkeyAsm[vindex] ? 0 : 1000"></app-asm>
                          <div *ngIf="vout.scriptpubkey_asm.length > 1000" style="display: flex;">
                            <span *ngIf="!showFullScriptPubkeyAsm[vindex]">...</span>
                            <label class="btn btn-sm btn-primary mt-2" (click)="toggleShowFullScriptPubkeyAsm(vindex)" style="margin-left: auto;">
                              <span *ngIf="!showFullScriptPubkeyAsm[vindex]" i18n="show-all">Show all</span>
                              <span *ngIf="showFullScriptPubkeyAsm[vindex]" i18n="show-less">Show less</span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td i18n="transactions-list.scriptpubkey.hex|ScriptPubKey (HEX)">ScriptPubKey (HEX)</td>
                        <td style="text-align: left;">
                          @if (!showFullScriptPubkeyHex[vindex]) {
                            {{ vout.scriptpubkey | slice:0:1000 }}
                          } @else {
                            {{ vout.scriptpubkey }}
                          }
                          <div *ngIf="vout.scriptpubkey.length > 1000" style="display: flex;">
                            <span *ngIf="!showFullScriptPubkeyHex[vindex]">...</span>
                            <label class="btn btn-sm btn-primary mt-2" (click)="toggleShowFullScriptPubkeyHex(vindex)" style="margin-left: auto;">
                              <span *ngIf="!showFullScriptPubkeyHex[vindex]" i18n="show-all">Show all</span>
                              <span *ngIf="showFullScriptPubkeyHex[vindex]" i18n="show-less">Show less</span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr *ngIf="vout.scriptpubkey_type == 'op_return'">
                        <td>OP_RETURN <span>data</span></td>
                        <td style="text-align: left; word-break: break-word; white-space: pre-line;">
                          @if (!showFullOpReturnData[vindex]) {
                            {{ (vout.scriptpubkey_asm | hex2ascii | slice:0:1000) }}
                          } @else {
                            {{ vout.scriptpubkey_asm | hex2ascii }}
                          }
                          <div *ngIf="(vout.scriptpubkey_asm | hex2ascii).length > 1000" style="display: flex;">
                            <span *ngIf="!showFullOpReturnData[vindex]">...</span>
                            <label class="btn btn-sm btn-primary mt-2" (click)="toggleShowFullOpReturnData(vindex)" style="margin-left: auto;">
                              <span *ngIf="!showFullOpReturnData[vindex]" i18n="show-all">Show all</span>
                              <span *ngIf="showFullOpReturnData[vindex]" i18n="show-less">Show less</span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr *ngIf="vout.scriptpubkey_type">
                        <td i18n="transactions-list.vout.scriptpubkey-type">Type</td>
                        <td style="text-align: left;">{{ vout.scriptpubkey_type.toUpperCase() }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-template>
            <tr *ngIf="tx.vout.length > getVoutLimit(tx)">
              <td [attr.colspan]="3" class="text-center">
                <button class="btn btn-sm btn-primary mt-2" (click)="showMoreOutputs(tx)">
                  <span *ngIf="getVoutLimit(tx, true) >= tx.vout.length; else showMoreOutputsLabel" i18n="show-all">Show all</span>
                  <ng-template #showMoreOutputsLabel>
                    <span i18n="show-more">Show more</span>
                  </ng-template>
                  (<ng-container *ngTemplateOutlet="xRemaining; context: {$implicit: tx.vout.length - getVoutLimit(tx)}"></ng-container>)
                </button>
              </td>
            </tr>
            </ng-container>
            <ng-template #suppliedRight><ng-container *ngTemplateOutlet="nativeRight; context: {$implicit: tx.nativeTransaction}"></ng-container></ng-template>
          </tbody>
        </table>
      </div>
    </div>

    <div class="summary">
      <ng-container *ngIf="!nativeMode; else suppliedSummary">
      <div class="float-start mt-2-5" *ngIf="!transactionPage && !tx.vin[0].is_coinbase && tx.fee !== -1">
        <app-fee-rate [fee]="tx.fee" [weight]="tx.weight"></app-fee-rate>
        <span class="d-none d-sm-inline-block">&nbsp;&ndash; <app-amount [blockConversion]="tx.price" [satoshis]="tx.fee" [noFiat]="true"></app-amount> <span class="fiat"><app-fiat [blockConversion]="tx.price" [value]="tx.fee"></app-fiat></span></span>
      </div>
      <div class="float-start mt-2-5 grey-info-text" *ngIf="tx.fee === -1" i18n="transactions-list.load-to-reveal-fee-info">Show more inputs to reveal fee data</div>

      <div class="float-end" [class.has-accelerate]="!tx.status?.confirmed && acceleratedTxids">
        @if (!tx.status?.confirmed && acceleratedTxids) {
          <button type="button" class="btn btn-sm accelerate mt-2 me-2 btn-purple" [class.blink]="acceleratedTxids.has(tx.txid)" [routerLink]="['/tx/' | relativeUrl, tx.txid]" [fragment]="'accelerate'">
            <img src="/resources/mempool-accelerator-sparkles-light.svg" height="15" class="me-2" />
            @if (acceleratedTxids.has(tx.txid)) {
              <span i18n="transaction.audit.accelerated">Accelerated</span>
            } @else {
              <span i18n="transaction.accelerate|Accelerate button label">Accelerate</span>
            }
          </button>
        }
        <ng-container *ngIf="showConfirmations && latestBlock$ | async as latestBlock">
          <app-confirmations [chainTip]="latestBlock?.height" [height]="tx?.status?.block_height" [buttonClass]="(!tx.status?.confirmed && acceleratedTxids) ? 'mt-2 confirmation-compact' : 'mt-2'"></app-confirmations>
        </ng-container>
        <button *ngIf="addresses.length === 0; else viewingAddress" type="button" class="btn btn-sm btn-primary mt-2 ms-2" (click)="switchCurrency()">
          <ng-template [ngIf]="(network === 'liquid' || network === 'liquidtestnet') && haveBlindedOutputValues(tx)" [ngIfElse]="defaultAmount" i18n="shared.confidential">Confidential</ng-template>
          <ng-template #defaultAmount>
            <app-amount [blockConversion]="tx.price" [satoshis]="getTotalTxOutput(tx)"></app-amount>
          </ng-template>
        </button>
        <ng-template #viewingAddress>
          <button *ngIf="!tx.ethereum" type="button" class="btn btn-sm mt-2 ms-2" (click)="switchCurrency()" [ngClass]="{'btn-success': tx['addressValue'] >= 0, 'btn-danger': tx['addressValue'] < 0}">
            <app-amount [blockConversion]="tx.price" [satoshis]="tx['addressValue']" [addPlus]="true" [unitStyle]="{color: '#ffffffbb'}"></app-amount>
          </button>
        </ng-template>
      </div>
      <div class="clearfix"></div>
      </ng-container>
      <ng-template #suppliedSummary><ng-container *ngTemplateOutlet="nativeSummary; context: {$implicit: tx}"></ng-container></ng-template>
    </div>

  </div>

  <br />

</ng-container>

</div>

<ng-template #assetBox let-item>
  {{ item.value / pow(10, assetsMinimal[item.asset][3]) | number: '1.' + assetsMinimal[item.asset][3] + '-' + assetsMinimal[item.asset][3] }} {{ assetsMinimal[item.asset][1] }}
  <br />
  {{ assetsMinimal[item.asset][0] }}
  <br />
  <a [routerLink]="['/assets/asset/' | relativeUrl, item.asset]">{{ item.asset | shortenString : 13 }}</a>
</ng-template>

<ng-template #xRemaining let-x i18n="x-remaining">{{ x }} remaining</ng-template>

<ng-template #taprootControlBlock let-scriptPath let-controlBlock="controlBlock" let-truncate="truncate">
  <span class="leaf-version" ngbTooltip="leaf version and parity"> {{ controlBlock.slice(0, 2) }}</span>
  @if (scriptPath.isNUMS) {
    <span class="internal-key nums" ngbTooltip="internal key (NUMS point)">{{ scriptPath.internalKey }}</span>
  } @else {
    <span class="internal-key" ngbTooltip="internal key">{{ scriptPath.internalKey }}</span>
  }
  <span *ngFor="let branch of scriptPath.merkleBranches.slice(0, truncate ? 14 : scriptPath.merkleBranches.length); index as i" class="merkle-branch" ngbTooltip="taptree merkle branch {{ i + 1 }}">{{ branch }}</span>
</ng-template>

<ng-template #controlBlockInfo let-scriptPath>
  <table class="table table-borderless control-block-info">
    <tr></tr>
    <tr>
      <td i18n="transactions-list.taproot.leaf-version">leaf version</td>
      <td>{{ scriptPath.leafVersion | decimal2hex:1 }}</td>
    </tr>
    <tr>
      <td i18n="transactions-list.taproot.parity">parity</td>
      <td>{{ scriptPath.parity ? '0x01' : '0x00' }}</td>
    </tr>
    @if (scriptPath.isNUMS) {
      <tr>
        <td i18n="transactions-list.taproot.keypath">key path</td>
        <td>disabled</td>
      </tr>
    }
    <tr>
      <td i18n="transactions-list.taproot.script-depth">script depth</td>
      <td>{{ scriptPath.merkleBranches.length }}</td>
    </tr>
  </table>
</ng-template>


<ng-template #nativeLeft let-row>
  <ng-container *ngIf="row.nativePendingMessage as message">
    <tr>
      <td class="arrow-td"><fa-icon [icon]="['fas','arrow-alt-circle-right']" [fixedWidth]="true" class="grey"></fa-icon></td>
      <td class="address-cell"><app-ethereum-identity [entity]="tonIdentity(message.destination)" [compact]="true" chainName="TON" chainSymbol="GRAM" [link]="'/address/'+message.destination"></app-ethereum-identity></td>
      <td class="text-end nowrap amount"><span class="grey-info-text">To</span></td>
    </tr>
    <tr><td colspan="3"><ng-container *ngTemplateOutlet="messageDetails; context: {$implicit:message, pending:true}"></ng-container></td></tr>
  </ng-container>
  <ng-container *ngIf="row.nativeTransaction as transaction">
    <ng-container *ngIf="transaction.in_msg as message; else noIncoming">
      <tr [class.selected-message]="message.hash === selectedMessageHash" [class.highlight]="message.hash === selectedMessageHash">
        <td class="arrow-td"><fa-icon [icon]="['fas','arrow-alt-circle-right']" [fixedWidth]="true" class="grey"></fa-icon></td>
        <td class="address-cell"><app-ethereum-identity *ngIf="tonAddress(message.source); else externalMessage" [entity]="tonIdentity(message.source)" [compact]="true" chainName="TON" chainSymbol="GRAM" [link]="'/address/'+tonAddress(message.source)"></app-ethereum-identity></td>
        <td class="text-end nowrap amount"><span class="grey-info-text">From</span></td>
      </tr>
      <tr><td colspan="3"><ng-container *ngTemplateOutlet="messageDetails; context: {$implicit:message, incoming:true}"></ng-container></td></tr>
    </ng-container>
    <ng-template #noIncoming><tr><td colspan="3" class="grey-info-text">No incoming message</td></tr></ng-template>
  </ng-container>
  <ng-container *ngIf="row.nativeEvent as event">
    <tr *ngFor="let action of event.actions"><td colspan="3" class="native-action">
      <h6>{{ actionTitle(action) }} <span *ngIf="action.status" class="badge" [class.bg-danger]="action.status === 'failed'" [class.bg-success]="action.status === 'ok'">{{ action.status === 'failed' ? 'Failed' : action.status === 'ok' ? 'Successful' : action.status }}</span></h6>
      <table class="table table-borderless table-striped table-sm"><tbody>
        <tr *ngFor="let field of tonActionFields(action)"><td>{{ field.label | titlecase }}</td><td><app-amount *ngIf="field.amount; else actionText" [amount]="field.amount"></app-amount><ng-template #actionText><app-ethereum-identity *ngIf="field.identity; else actionRoute" [entity]="field.identity" [compact]="true" chainName="TON" chainSymbol="GRAM" [link]="field.route?.join('/')"></app-ethereum-identity><ng-template #actionRoute><app-truncate *ngIf="field.route; else plainField" [text]="field.text" [lastChars]="8" [link]="field.route"></app-truncate><ng-template #plainField>{{ field.text }}</ng-template></ng-template></ng-template><span *ngIf="field.flagged" class="text-danger"> · Flagged</span></td></tr>
      </tbody></table>
      <div class="native-action-links"><app-truncate *ngFor="let hash of action.base_transactions" [text]="actionHash(hash)" [lastChars]="8" [link]="['/tx',actionHash(hash)]"></app-truncate></div>
    </td></tr>
    <tr *ngIf="!event.actions?.length"><td colspan="3" class="grey-info-text">No decoded actions</td></tr>
  </ng-container>
</ng-template>

<ng-template #nativeRight let-transaction>
  <ng-container *ngFor="let message of transaction?.out_msgs">
    <tr [class.selected-message]="message.hash === selectedMessageHash" [class.highlight]="message.hash === selectedMessageHash">
      <td class="address-cell"><app-ethereum-identity *ngIf="tonAddress(message.destination); else externalMessage" [entity]="tonIdentity(message.destination)" [compact]="true" chainName="TON" chainSymbol="GRAM" [link]="'/address/'+tonAddress(message.destination)"></app-ethereum-identity></td>
      <td class="text-end nowrap amount"><app-amount *ngIf="messageAmount(message) as value; else noMessageValue" [amount]="value"></app-amount><ng-template #noMessageValue><span class="grey-info-text">{{ message.msg_type === 'int_msg' ? 'Value unavailable' : 'No native value' }}</span></ng-template></td>
      <td class="arrow-td"><fa-icon [icon]="['fas','arrow-alt-circle-right']" [fixedWidth]="true" class="grey"></fa-icon></td>
    </tr>
    <tr><td colspan="3"><ng-container *ngTemplateOutlet="messageDetails; context: {$implicit:message, incoming:false}"></ng-container></td></tr>
  </ng-container>
  <tr *ngIf="!transaction?.out_msgs?.length"><td colspan="3" class="grey-info-text">No outgoing messages</td></tr>
</ng-template>

<ng-template #nativeSummary let-row>
  <ng-container *ngIf="row.nativeTransaction as transaction">
    <div class="float-start mt-2-5">
      <span class="badge" [class.bg-success]="transaction.success === true" [class.bg-danger]="transaction.success === false" [class.bg-secondary]="transaction.success == null">{{ tonExecution(transaction) }}</span>
      <span *ngIf="!transactionPage" class="ms-2"><span class="grey-info-text">Account </span><app-truncate [text]="tonLabel(transaction.account)" [lastChars]="8" [link]="['/address',tonAddress(transaction.account)]"><app-clipboard [text]="tonAddress(transaction.account)"></app-clipboard></app-truncate></span>
    </div>
    <div class="float-end"><button type="button" class="btn btn-sm btn-primary mt-2 ms-2" (click)="switchCurrency()" title="Transaction fee; change denomination"><span>Fee </span><app-amount *ngIf="tonAmount(transaction.total_fees) as fee; else nativeMissing" [amount]="fee"></app-amount></button></div>
    <div class="clearfix"></div>
  </ng-container>
  <ng-container *ngIf="row.nativeEvent as event">
    <span *ngIf="event.in_progress" class="badge bg-secondary">In progress</span><span *ngIf="event.is_scam" class="badge bg-danger">Flagged activity</span>
    <details class="native-advanced"><summary>Event details</summary><pre>{{ publicDetails(event) | json }}</pre></details>
  </ng-container>
</ng-template>

<ng-template #messageDetails let-message let-incoming="incoming" let-pending="pending">
  <details class="native-message-details" [open]="message.hash === selectedMessageHash || (pending && message.normalizedHash === selectedMessageHash)">
    <summary>{{ pending ? 'Pending message' : incoming ? 'Incoming message' : 'Outgoing message' }}<span *ngIf="message.decoded_op_name || message.op_code"> · {{ message.decoded_op_name || message.op_code }}</span><span *ngIf="message.bounced" class="badge bg-warning text-dark ms-2">Bounced</span><span *ngIf="message.hash === selectedMessageHash || (pending && message.normalizedHash === selectedMessageHash)" class="badge bg-info ms-2">Selected message</span></summary>
    <table class="table table-borderless table-striped table-sm details-container"><tbody>
      <tr><td>Type</td><td>{{ pending ? 'External incoming' : messageKind(message) }}</td></tr>
      <tr><td>From</td><td><app-ethereum-identity *ngIf="tonAddress(message.source); else externalMessage" [entity]="tonIdentity(message.source)" [compact]="true" chainName="TON" chainSymbol="GRAM" [link]="'/address/'+tonAddress(message.source)"></app-ethereum-identity></td></tr>
      <tr><td>To</td><td><app-ethereum-identity *ngIf="tonAddress(message.destination); else externalMessage" [entity]="tonIdentity(message.destination)" [compact]="true" chainName="TON" chainSymbol="GRAM" [link]="'/address/'+tonAddress(message.destination)"></app-ethereum-identity></td></tr>
      <tr *ngIf="!pending"><td>Value</td><td><app-amount *ngIf="messageAmount(message) as value; else noMessageValue" [amount]="value"></app-amount><ng-template #noMessageValue>{{ message.msg_type === 'int_msg' ? 'Value unavailable' : 'No native value' }}</ng-template></td></tr>
      <tr *ngFor="let extra of message.value_extra"><td><a [routerLink]="['/extra-currency',extra.preview?.id ?? extra.id]">{{ extra.preview?.symbol || extra.preview?.id || extra.id }}</a></td><td><app-amount *ngIf="tonAmount(extra.amount ?? extra.value,extra.preview?.decimals ?? 0,extra.preview?.symbol || 'raw units',false) as amount" [amount]="amount"></app-amount></td></tr>
      <tr *ngIf="message.hash"><td>Hash</td><td><app-truncate [text]="message.hash" [lastChars]="8" [link]="pending ? null : ['/message',message.hash]"><app-clipboard [text]="message.hash"></app-clipboard></app-truncate></td></tr>
      <ng-container *ngIf="pending">
        <tr *ngIf="message.normalizedHash !== message.hash"><td>Normalized hash</td><td><app-truncate [text]="message.normalizedHash" [lastChars]="8"><app-clipboard [text]="message.normalizedHash"></app-clipboard></app-truncate></td></tr>
        <tr><td>Body hash</td><td><app-truncate [text]="message.bodyHash" [lastChars]="8"><app-clipboard [text]="message.bodyHash"></app-clipboard></app-truncate></td></tr>
        <tr><td>Message size</td><td>{{ message.bocBytes | number }} bytes</td></tr>
        <tr><td>First seen</td><td><app-timestamp [unixTime]="pendingTime(message.firstSeenAt)"></app-timestamp></td></tr>
        <tr><td>Last seen</td><td><app-timestamp [unixTime]="pendingTime(message.lastSeenAt)"></app-timestamp></td></tr>
      </ng-container>
    </tbody></table>
    <details class="native-advanced"><summary>Message details</summary><pre>{{ publicDetails(message) | json }}</pre></details>
  </details>
</ng-template>
<ng-template #externalMessage><span>External</span></ng-template>
<ng-template #nativeMissing><span class="grey-info-text">—</span></ng-template>
