<div class="fee-estimation-wrapper">
  <div class="d-flex">
    <div class="fee-progress-bar" [style.background]="noPriority">
      <span class="fee-label" [ngbTooltip]="labelTooltip(0)" placement="top">{{ labels[0] }}</span>
    </div>
    <div class="band-separator fill"></div>
    <div class="fee-progress-bar priority" [style.background]="gradient">
      <span class="fee-label prority" *ngFor="let index of [1, 2, 3]" [ngbTooltip]="labelTooltip(index)" placement="top">{{ labels[index] }}</span>
    </div>
  </div>

  <div class="fee-estimation-container" *ngIf="confirmedMode ? confirmedFees : ((isLoading$ | async) === false && (recommendedFees$ | async)); else loadingFees">
    <ng-container *ngFor="let row of feeRows; let index = index; trackBy: trackByIndex">
      <div class="item">
        <div class="card-text">
          <div class="fee-text" [ngbTooltip]="row.tooltip" placement="bottom">
            <ng-container *ngIf="row.belowAtomicUnit; else amountValue">&lt;1 <span>nanogram</span></ng-container>
            <ng-template #amountValue><app-amount *ngIf="row.amount; else feeRate" [amount]="row.amount" displayMode="sats" [compactBlock]="true" [ignoreViewMode]="true"></app-amount></ng-template>
            <ng-template #feeRate><app-fee-rate [fee]="row.rate" [dp]="1"></app-fee-rate></ng-template>
          </div>
          <span class="fiat">
            <ng-container *ngIf="row.belowAtomicUnit; else fiatValue">—</ng-container>
            <ng-template #fiatValue><app-amount *ngIf="row.amount; else fiatRate" [amount]="row.amount" displayMode="fiat"></app-amount></ng-template>
            <ng-template #fiatRate><app-fiat [ngbTooltip]="row.tooltip" placement="bottom" [value]="row.rate * 21000"></app-fiat></ng-template>
          </span>
        </div>
      </div>
      <div class="band-separator" *ngIf="index === 0"></div>
    </ng-container>
  </div>
</div>

<ng-template #loadingFees>
  <div class="fee-estimation-container loading-container">
    <ng-container *ngFor="let index of [0, 1, 2, 3]">
      <div class="item">
        <div class="card-text">
          <div class="skeleton-loader"></div>
          <div class="skeleton-loader"></div>
        </div>
      </div>
      <div class="band-separator" *ngIf="index === 0"></div>
    </ng-container>
  </div>
</ng-template>
