<div class="fee-estimation-wrapper" *ngIf="(confirmedMode ? confirmedData : ($rewardStats | async)) as rewardStats; else loadingReward">
  <div class="fee-estimation-container">
    <div class="item" *ngFor="let row of rewardRows(rewardStats); trackBy: trackByIndex">
      <h5 class="card-title" [ngbTooltip]="row.tooltip" placement="bottom">{{ row.label }}</h5>
      <div class="card-text">
        <div class="fee-text">
          <ng-container *ngIf="row.belowAtomicUnit; else amountValue">&lt;1 <span>nanogram</span></ng-container>
          <ng-template #amountValue><app-amount *ngIf="row.amount; else legacyAmount" [amount]="row.amount" [compactBlock]="true" [ignoreViewMode]="true"></app-amount></ng-template>
          <ng-template #legacyAmount><app-amount [satoshis]="row.value" [digitsInfo]="row.digits" [noFiat]="true" [ignoreViewMode]="true"></app-amount></ng-template>
          <span *ngIf="row.suffix">{{ row.suffix }}</span>
        </div>
        <span class="fiat">
          <ng-container *ngIf="row.belowAtomicUnit; else fiatValue">—</ng-container>
          <ng-template #fiatValue><app-amount *ngIf="row.amount; else legacyFiat" [amount]="row.amount" displayMode="fiat"></app-amount></ng-template>
          <ng-template #legacyFiat><app-fiat [value]="row.value" digitsInfo="1.0-0"></app-fiat></ng-template>
        </span>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingReward>
  <div class="fee-estimation-container loading-container" [attr.aria-label]="confirmedMode ? 'Loading confirmed transaction fees' : 'Loading recent execution rewards'">
    <div class="item" *ngFor="let label of labels"><h5 class="card-title">{{ label }}</h5><div class="card-text"><div class="skeleton-loader"></div><div class="skeleton-loader"></div></div></div>
  </div>
</ng-template>
